﻿@model Authentication
@{
    ViewData["Title"] = "Delete";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Authentication</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="item d-flex mt-2">
                        <h4>Name:</h4>
                        <span class="ml-2">@Model.Name</span>
                    </div>
                    <div class="item d-flex mt-2">
                        <h4>Code:</h4>
                        <span class="ml-2">@Model.Url</span>
                    </div>
                    <div class="item d-flex mt-2">
                        <h4>Language:</h4>
                        <span class="ml-2">@Model.Language.Name (@Model.Language.Code)</span>
                    </div>
                </div>
            </div>
            <p class="text-danger mt-3">Do you want to delete?</p>
            <hr />
            <form method="post">
                <a asp-action="Index" class="btn btn-primary">Go Back</a>
                <button type="submit" class="btn btn-danger ml-2">Delete</button>
            </form>
        </div>
    </div>
</div>

