﻿
@{
    ViewData["Title"] = "Length Input";
    List<LengthInput> lengthInputs = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Length Input</h4>
                @if (lengthInputs.Count < 3)
                {
                    <a asp-action="Create" class="btn btn-primary">Add</a>
                }
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Input Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lengthInputs)
                            {
                                <tr>
                                    <td>@item.InputName</td>
                                    <td>
                                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Detail</a>
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (ViewBag.PageCount != 0)
                {
                    <div class="mt-3">
                        <ul class="pagination">
                            @if (ViewBag.Page == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                @if (ViewBag.Page == i)
                                {
                                    <li class="page-item disabled"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                                }
                            }
                            @if (ViewBag.Page == ViewBag.PageCount)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)">Next</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

