﻿
@{
    ViewData["Title"] = "Detail";
    Advertisement advertisement = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Advertisement Detail</h3>
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/img/@advertisement.Image" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="detailItem d-flex mt-2">
                            <h4>Title:</h4>
                            <span class="ml-2">@advertisement.Title</span>
                        </div>
                        <div class="detailItem d-flex mt-3">
                            <h4>Description:</h4>
                            <span class="ml-2">@Html.Raw(advertisement.AdvertisementDetail.Description)</span>
                        </div>
                        <div class="detailItem d-flex mt-3">
                            <h4>Creation Date:</h4>
                            <span class="ml-2">@advertisement.CreationDate</span>
                        </div>
                        <div class="detailItem d-flex mt-3">
                            <h4>Last Modification Date:</h4>
                            <span class="ml-2">@advertisement.LastModificationDate</span>
                        </div>
                        <div class="item d-flex mt-2">
                            <h4>Language:</h4>
                            @{
                                @if (Model.Language.IsDeleted == true)
                                {
                                    <span class="ml-2">This section has no language</span>
                                }
                                else
                                {
                                    <span class="ml-2">@Model.Language.Name (@Model.Language.Code)</span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <a asp-action="Index" class="btn btn-info text-light my-button">
                    <i class="mdi mdi-keyboard-backspace"></i> <span>Back</span>
                </a>
            </div>
        </div>
    </div>
</div>
