﻿
@{
    ViewData["Title"] = "Certifcate Contents";
    List<CertifcateContent> certifcateContents = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Certifcate Contents</h4>
                @if (certifcateContents.Count < 3)
                {
                    <a asp-action="Create" class="btn btn-primary">Add</a>
                }
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in certifcateContents)
                            {
                                <tr>
                                    <td>
                                        <img src="~/img/@item.Image" class="img-fluid" />
                                    </td>
                                    <td>
                                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Detail</a>
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

