﻿@model WeightInput
@{
    ViewData["Title"] = "Update";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Weight Input Name</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="InputName">Input Name</label>
                    <input asp-for="InputName" class="form-control" placeholder="Input Name">
                    <span asp-validation-for="InputName" class="text-danger"></span>
                </div>
                <div class="form-group" id="languageInput">
                    <label>Languages</label>
                    <select class="form-control" name="LanguageId" id="language">
                        @foreach (Language item in ViewBag.Languages)
                        {
                            @if (Model.LanguageId == item.Id)
                            {
                                <option selected value="@item.Id">@item.Code (@item.Name)</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Code (@item.Name)</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-warning mr-2">Update</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

